        <!-- Footer-->
<footer class="footer another-test text-center">
    <div class="container">
        <div class="custom-row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Kontakt</h4>
                <p class="lead mb-0">
                    Öster mälarstrands allé 132
                    <br />
                    Västerås, 72356
                </p>
                <p class="lead text-uppercase mb-0">
                    <a class="text-white" href="mailto:sebastianstrandberg@live.se">sebastianstrandberg@live.se</a>
                    <br />
                    <a class="text-white" href="callto:+46737470013">0737470013</a>
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Här finns jag</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/shajje/" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/strandbergsebastian/" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/sebastian-strandberg-0b34b2192/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/sebstrand123" target="_blank"><i class="fab fa-fw fa-github"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                @Html.Action("_Files", "Home")
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Sebastian Strandberg 2021 - Made in ASP.NET</small></div>
</div>
