        <!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Öster mälarstrands allé 132
                    <br />
                    Västerås, 72356
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Här finns jag</h4>
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-facebook-f" target="_blank"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-instagram" target="_blank"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/sebastian-strandberg-0b34b2192/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/sebstrand123" target="_blank"><i class="fab fa-fw fa-github"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download mr-2"></i>
                    Ladda ner mitt CV i .docx format
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Sebastian Strandberg 2021 - Made in ASP.NET</small></div>
</div>
