@{
    ViewBag.Title = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center test-class">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5 rounded-circle" src="~/assets/img/image.jpg" alt="" />
        @Html.Action("_Person", "Home")
        <p class="masthead-subheading text-white font-weight-light mt-0">
            Webbutvecklare - Systemutvecklare
        </p>
    </div>
</header>
<!-- Experience Section-->
<section class="page-section test-class portfolio" id="experience">
    <div class="container">
        <!-- Experience Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Erfarenhet</h2>
        @Html.Action("_Experiences", "Home")
    </div>
</section>
<hr />
<!-- Education Section-->
<section class="page-section test-class portfolio" id="education">
    <div class="container">
        <!-- Education Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Utbildning</h2>
        @Html.Action("_Educations", "Home")
    </div>
</section>
<hr />
<!-- Skills Section-->
<section class="page-section test-class portfolio" id="skills">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Kunskaper</h2>
        <div class="text-center">
            @Html.Action("_Skills", "Home")
        </div>
        <h3 class="text-center text-uppercase text-secondary mb-0">Språk och ramverk jag har erfarenhet i</h3>
        <div class="lang-container">
            <p class="lead mr-2">.NET</p>
            <p class="lead mr-2">C#</p>
            <p class="lead mr-2">GO</p>
            <p class="lead mr-2">Vue.js</p>
            <p class="lead mr-2">React.js</p>
            <p class="lead mr-2">HTML & CSS</p>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 id="aboutHeader" class="page-section-heading text-center text-uppercase text-white">Det här är jag!</h2>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Jag är en kille på snart 30 år som inte räds att ta på mig nya utmaningar. Jag är driven, lättlärd och lösningsorienterad. Jag valde att utbilda mig till webbutvecklare för den ständiga utvecklingen och de oändliga möjligheterna som finns inom programmering.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">Jag är född och uppvuxen i Norberg och är nu bosatt i Västerås med min sambo. Västerås ligger nära många större städer med enkla möjligheter att pendla. På fritiden håller jag mig aktiv. Jag älskar att klättra inomhus som utomhus. Vilket jag upplever gör nytta för både kroppen och huvudet.</p></div>
        </div>
    </div>
</section>